{% extends "index.html" %}
<h1>Nous sommes sur la page services</h1>

{% block contenu %}
<title>NOS SERVICES</title>

<h1>NOUS DISPOSONS DE PLUSIEURS MOYENS DE PAIEMENT</h1>
<h1>Tmoney</h1>
<h1>veuillez entrer votre numero de telephone</h1>
<form action="">
    <fieldset>
        <label for="numero">Numero</label>
        <input type="number">
        
        <input type="submit">
    </fieldset>
</form>


<h1>Flooz</h1>
<h1>veuillez entrer votre numero de telephone</h1>
<form action="" method='POST'>
    <fieldset>
        <label for="numero">Numero</label>
        <input type="number">
        <input type="submit">
    </fieldset>
</form>

{% endblock  %}